/*================= START LOGIN =================*/

.bg_two-nocturne {
    background-color: #18142f;
}

.loader {
    width: 100px;
    height: 100px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loaderLogin-Text {
    color: #fff;
	font-size: 48px;
	display: inline-block;
	font-weight: bold;

	box-sizing: border-box;
	text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
	letter-spacing: 2px;
	position: relative;
}



.loaderLogin-Text::after {
	content: 'Loading...';
	position: absolute;
	left: 0;
	top: 0;
	color: #0d6efd;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	animation: animloaderLogin-Text 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






@keyframes animloaderLogin-Text {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes push {
    0% {
        transform: translate(-50%, 100%) scale(1);
    }

    15%,
    25% {
        transform: translate(-50%, 50%) scale(1);
    }

    50%,
    75% {
        transform: translate(-50%, -30%) scale(0.5);
    }

    80%,
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 81.53110047846889,107.26315789473685 163.06220095693777,114.52631578947368 275,121 C 386.9377990430622,127.47368421052632 529.2822966507177,133.15789473684208 626,129 C 722.7177033492823,124.8421052631579 773.8086124401915,110.8421052631579 867,104 C 960.1913875598085,97.1578947368421 1095.4832535885166,97.4736842105263 1198,98 C 1300.5167464114834,98.5263157894737 1370.2583732057417,99.26315789473685 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 73.21531100478464,95.0622009569378 146.43062200956928,90.12440191387559 245,83 C 343.5693779904307,75.87559808612441 467.49282296650733,66.56459330143541 587,75 C 706.5071770334927,83.43540669856459 821.5980861244018,109.61722488038278 917,118 C 1012.4019138755982,126.38277511961722 1088.1148325358852,116.96650717703348 1172,111 C 1255.8851674641148,105.03349282296652 1347.9425837320573,102.51674641148327 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 115.38755980861242,118.47846889952153 230.77511961722485,136.95693779904306 315,127 C 399.22488038277515,117.04306220095694 452.2870813397129,78.65071770334927 554,70 C 655.7129186602871,61.34928229665072 806.0765550239234,82.4401913875598 905,86 C 1003.9234449760766,89.5598086124402 1051.4066985645934,75.58851674641149 1132,75 C 1212.5933014354066,74.41148325358851 1326.2966507177034,87.20574162679426 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 75.70334928229664,120.1244019138756 151.40669856459328,140.2488038277512 262,132 C 372.5933014354067,123.75119617224881 518.0765550239234,87.12918660287082 625,78 C 731.9234449760766,68.87081339712918 800.287081339713,87.23444976076556 881,98 C 961.712918660287,108.76555023923444 1054.7751196172248,111.93301435406698 1150,111 C 1245.2248803827752,110.06698564593302 1342.6124401913876,105.03349282296651 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 81.53110047846889,107.26315789473685 163.06220095693777,114.52631578947368 275,121 C 386.9377990430622,127.47368421052632 529.2822966507177,133.15789473684208 626,129 C 722.7177033492823,124.8421052631579 773.8086124401915,110.8421052631579 867,104 C 960.1913875598085,97.1578947368421 1095.4832535885166,97.4736842105263 1198,98 C 1300.5167464114834,98.5263157894737 1370.2583732057417,99.26315789473685 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 131.20574162679424,193.07177033492823 262.4114832535885,186.14354066985646 338,188 C 413.5885167464115,189.85645933014354 433.5598086124403,200.4976076555024 525,214 C 616.4401913875597,227.5023923444976 779.3492822966507,243.86602870813397 891,232 C 1002.6507177033493,220.13397129186603 1063.043062200957,180.03827751196172 1146,170 C 1228.956937799043,159.96172248803828 1334.4784688995214,179.98086124401914 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 88.91866028708134,218.11483253588517 177.83732057416267,236.22966507177034 278,227 C 378.1626794258373,217.77033492822966 489.56937799043067,181.19617224880386 578,173 C 666.4306220095693,164.80382775119614 731.8851674641148,184.98564593301433 833,198 C 934.1148325358852,211.01435406698567 1070.8899521531102,216.86124401913875 1178,216 C 1285.1100478468898,215.13875598086125 1362.5550239234449,207.5693779904306 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 105.34928229665073,179.1866028708134 210.69856459330146,158.3732057416268 298,168 C 385.30143540669854,177.6267942583732 454.555023923445,217.69377990430624 541,232 C 627.444976076555,246.30622009569376 731.0813397129189,234.85167464114832 835,217 C 938.9186602870811,199.14832535885168 1043.1196172248804,174.89952153110048 1144,171 C 1244.8803827751196,167.10047846889952 1342.44019138756,183.55023923444975 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 128.51674641148324,177.77033492822966 257.0334928229665,155.54066985645932 340,166 C 422.9665071770335,176.45933014354068 460.38277511961724,219.60765550239233 550,226 C 639.6172248803828,232.39234449760767 781.4354066985645,202.0287081339713 892,185 C 1002.5645933014355,167.9712918660287 1081.8755980861245,164.27751196172247 1168,169 C 1254.1244019138755,173.72248803827753 1347.0622009569379,186.86124401913878 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 131.20574162679424,193.07177033492823 262.4114832535885,186.14354066985646 338,188 C 413.5885167464115,189.85645933014354 433.5598086124403,200.4976076555024 525,214 C 616.4401913875597,227.5023923444976 779.3492822966507,243.86602870813397 891,232 C 1002.6507177033493,220.13397129186603 1063.043062200957,180.03827751196172 1146,170 C 1228.956937799043,159.96172248803828 1334.4784688995214,179.98086124401914 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 107.82775119617227,306.81339712918657 215.65550239234454,313.6267942583732 304,312 C 392.34449760765546,310.3732057416268 461.2057416267942,300.3062200956938 547,298 C 632.7942583732058,295.6937799043062 735.5215311004786,301.14832535885165 846,301 C 956.4784688995214,300.85167464114835 1074.7081339712918,295.10047846889955 1175,294 C 1275.2918660287082,292.89952153110045 1357.6459330143541,296.4497607655502 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 70.77511961722487,295.77033492822966 141.55023923444975,291.5406698564593 252,294 C 362.44976076555025,296.4593301435407 512.5741626794259,305.6076555023923 607,307 C 701.4258373205741,308.3923444976077 740.1531100478469,302.02870813397135 834,300 C 927.8468899521531,297.97129186602865 1076.8133971291868,300.2775119617225 1187,301 C 1297.1866028708132,301.7224880382775 1368.5933014354066,300.8612440191388 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 88.18181818181819,302.47846889952154 176.36363636363637,304.95693779904303 285,310 C 393.6363636363636,315.04306220095697 522.7272727272727,322.65071770334924 618,330 C 713.2727272727273,337.34928229665076 774.7272727272729,344.4401913875599 861,330 C 947.2727272727271,315.5598086124401 1058.3636363636363,279.58851674641147 1159,271 C 1259.6363636363637,262.41148325358853 1349.818181818182,281.2057416267943 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 67.866028708134,292.41148325358853 135.732057416268,284.82296650717706 243,287 C 350.267942583732,289.17703349282294 496.9377990430621,301.1196172248804 617,301 C 737.0622009569379,300.8803827751196 830.5167464114833,288.69856459330146 911,296 C 991.4832535885167,303.30143540669854 1058.9952153110048,330.0861244019139 1145,334 C 1231.0047846889952,337.9138755980861 1335.5023923444976,318.9569377990431 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 107.82775119617227,306.81339712918657 215.65550239234454,313.6267942583732 304,312 C 392.34449760765546,310.3732057416268 461.2057416267942,300.3062200956938 547,298 C 632.7942583732058,295.6937799043062 735.5215311004786,301.14832535885165 846,301 C 956.4784688995214,300.85167464114835 1074.7081339712918,295.10047846889955 1175,294 C 1275.2918660287082,292.89952153110045 1357.6459330143541,296.4497607655502 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
}

/*================= END LOGIN =================*/
